In [4]:
import pandas as pd

In [5]:
df=pd.DataFrame([(1,2,3), (4,5,6), (7,8,9)])

In [6]:
df.head()

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
df=pd.DataFrame([(1,2,3), (4,5,6), (7,8,9)], columns=['A', 'B', 'C'])

In [10]:
df.head()

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
df.head(2)

   A  B  C
0  1  2  3
1  4  5  6

In [13]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [14]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
df.index.tolist()

[0, 1, 2]

In [17]:
df.info

<bound method DataFrame.info of    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9>

In [19]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [22]:
df['A'].unique()

array([1, 4, 7], dtype=int64)

In [23]:
df.shape

(3, 3)

In [24]:
df=pd.DataFrame([(1,2,3), (4,5,6), (7,8,9), (10,11,12)], columns=['A', 'B', 'C'])

In [25]:
df.shape

(4, 3)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 224.0 bytes

In [27]:
pd.read_csv('./warmup-data/coffee.csv')

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [28]:
coffee = pd.read_csv('./warmup-data/coffee.csv')

In [29]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [30]:
coffee1 = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')

In [32]:
coffee1

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [35]:
coffee1.size

42

In [36]:
print(coffee1)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [37]:
coffee1.tail()

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [38]:
coffee1.loc["B"]

KeyError: 'B'

In [39]:
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [40]:
coffee = pd.read_csv('./warmup-data/coffee.csv', index_col=0)

In [41]:
print(coffee)

          Coffee Type  Units Sold
Day
Monday       Espresso          25
Monday          Latte          15
Tuesday      Espresso          30
Tuesday         Latte          20
Wednesday    Espresso          35
Wednesday       Latte          25
Thursday     Espresso          40
Thursday        Latte          30
Friday       Espresso          45
Friday          Latte          35
Saturday     Espresso          45
Saturday        Latte          35
Sunday       Espresso          45
Sunday          Latte          35

In [42]:
coffee.loc("Coffee Type")

ValueError: No axis named Coffee Type for object type DataFrame

In [43]:
print(coffee)

          Coffee Type  Units Sold
Day
Monday       Espresso          25
Monday          Latte          15
Tuesday      Espresso          30
Tuesday         Latte          20
Wednesday    Espresso          35
Wednesday       Latte          25
Thursday     Espresso          40
Thursday        Latte          30
Friday       Espresso          45
Friday          Latte          35
Saturday     Espresso          45
Saturday        Latte          35
Sunday       Espresso          45
Sunday          Latte          35

In [48]:
print(coffee)

          Coffee Type  Units Sold
Day
Monday       Espresso          25
Monday          Latte          15
Tuesday      Espresso          30
Tuesday         Latte          20
Wednesday    Espresso          35
Wednesday       Latte          25
Thursday     Espresso          40
Thursday        Latte          30
Friday       Espresso          45
Friday          Latte          35
Saturday     Espresso          45
Saturday        Latte          35
Sunday       Espresso          45
Sunday          Latte          35

In [54]:
print(coffee["Day", "Coffee Type"])

KeyError: ('Day', 'Coffee Type')

In [55]:
print(coffee[['Day', 'Coffee Type']])

KeyError: "['Day'] not in index"

In [56]:
print(coffee[['Day', 'Coffee Type']])

KeyError: "['Day'] not in index"

In [57]:
print(coffee.columns)

Index(['Coffee Type', 'Units Sold'], dtype='object')

In [58]:
coffee = pd.read_csv('./warmup-data/coffee.csv')

In [60]:
print(coffee[['Day', 'Coffee Type']])

          Day Coffee Type
0      Monday    Espresso
1      Monday       Latte
2     Tuesday    Espresso
3     Tuesday       Latte
4   Wednesday    Espresso
5   Wednesday       Latte
6    Thursday    Espresso
7    Thursday       Latte
8      Friday    Espresso
9      Friday       Latte
10   Saturday    Espresso
11   Saturday       Latte
12     Sunday    Espresso
13     Sunday       Latte

In [64]:
print(coffee[['Day', 'Coffee Type','Units Sold']].sort_values(by='Units Sold', ascending=True))

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          30
7    Thursday       Latte          30
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45

In [67]:
for index, row in coffee.iterrows():
    print(index)
    print(row[['Day', 'Coffee Type', 'Units Sold']])
    print("\n\n\n\n")

0
Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object





1
Day            Monday
Coffee Type     Latte
Units Sold         15
Name: 1, dtype: object





2
Day             Tuesday
Coffee Type    Espresso
Units Sold           30
Name: 2, dtype: object





3
Day            Tuesday
Coffee Type      Latte
Units Sold          20
Name: 3, dtype: object





4
Day            Wednesday
Coffee Type     Espresso
Units Sold            35
Name: 4, dtype: object





5
Day            Wednesday
Coffee Type        Latte
Units Sold            25
Name: 5, dtype: object





6
Day            Thursday
Coffee Type    Espresso
Units Sold           40
Name: 6, dtype: object





7
Day            Thursday
Coffee Type       Latte
Units Sold           30
Name: 7, dtype: object





8
Day              Friday
Coffee Type    Espresso
Units Sold           45
Name: 8, dtype: object





9
Day            Friday
Coffee Type     Latte
Units Sold         35
Name: 9, dtype: object





10
Day            Saturday
Coffee Type    Espresso
Units Sold           45
Name: 10, dtype: object





11
Day            Saturday
Coffee Type       Latte
Units Sold           35
Name: 11, dtype: object





12
Day              Sunday
Coffee Type    Espresso
Units Sold           45
Name: 12, dtype: object





13
Day            Sunday
Coffee Type     Latte
Units Sold         35
Name: 13, dtype: object

In [68]:
bios = pd.read_csv('./data/bios.csv')

In [69]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [71]:
bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

In [74]:
bios.loc[bios['height_cm'] > 215, ['name', 'height_cm']]

                         name  height_cm
5089       Viktor Pankrashkin      220.0
5583     Paulinho Villas Boas      217.0
5673           Gunther Behnke      221.0
5716                 Uwe Blab      218.0
5781           Tommy Burleson      223.0
5796            Andy Campbell      218.0
6223              Lars Hansen      216.0
6270              Hu Zhangbao      216.0
6409         Sergey Kovalenko      216.0
6420            Jānis Krūmiņš      218.0
6504              Luc Longley      220.0
6722         Shaquille O'Neal      216.0
6937           David Robinson      216.0
6978          Arvydas Sabonis      223.0
7074           Paulo da Silva      217.0
7188       Vladimir Tkachenko      220.0
7281         Stojko Vranković      217.0
7376      Eurelijus Žukauskas      218.0
52608         Aleksey Kazakov      217.0
82100           Frédéric Weis      218.0
89070                Yao Ming      226.0
89075          Roberto Dueñas      221.0
107408       Peter John Ramos      219.0
112312           Stanko Barać      217.0
112332    Andreas Glyniadakis      216.0
112337          Hamed Haddadi      218.0
118663         Timofey Mozgov      216.0
118676        Dmitry Musersky      219.0
120266           Zhang Zhaoxu      221.0
121694            Salah Mejri      216.0
123850         Tyson Chandler      216.0
130460               Li Muhao      218.0
130461                Zhou Qi      217.0
138671          Ondřej Balvín      216.0
139365         Moustapha Fall      218.0

In [75]:
bios.loc[(bios['height_cm'] > 212) & (bios['born_country'] == 'FRA')]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
7253,7291,Georges Vestris,1959-06-08,Fort-de-France,Martinique,FRA,France,214.0,NaN,NaN
82100,82753,Frédéric Weis,1977-06-22,Thionville,Moselle,FRA,France,218.0,110.0,NaN
131058,133820,Rudy Gobert,1992-06-26,Saint-Quentin,Aisne,FRA,France,215.0,113.0,NaN
139365,142836,Moustapha Fall,1992-02-23,Paris,Paris,FRA,France,218.0,NaN,NaN
139368,142839,Vincent Poirier,1993-10-17,Clamart,Hauts-de-Seine,FRA,France,213.0,NaN,NaN

In [79]:
bios[bios['name'].str.contains('John', case=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
78,79,John Pius Boland,1870-09-16,Dublin,Dublin,IRL,Great Britain,NaN,NaN,1958-03-17
375,376,John McDonald,1965-05-28,Halifax,Nova Scotia,CAN,Canada,183.0,74.0,NaN
569,571,John Bridges,1852-03-26,Horsham,England,GBR,Great Britain,NaN,NaN,1925-02-12
579,581,John Keyworth,1859-05-09,Lincoln,England,GBR,Great Britain,NaN,NaN,1954-04-24
583,585,John Penrose,1850-05-05,Littleham,England,GBR,Great Britain,NaN,NaN,1932-04-21
...,...,...,...,...,...,...,...,...,...,...
143841,147497,Johnny Hooper,1997-06-24,NaN,NaN,NaN,United States,NaN,NaN,NaN
143851,147507,"John Stefanowicz, Jr.",1991-09-20,NaN,NaN,NaN,United States,NaN,NaN,NaN
143984,147642,Keldon Johnson,1999-10-11,Chesterfield,Virginia,USA,United States,196.0,NaN,NaN
145461,149188,Kent Johnson,2002-10-18,Port Moody,British Columbia,CAN,Canada,185.0,75.0,NaN
145488,149215,Shakeel John,2001-07-30,Mount Hope,Tunapuna-Piarco,TTO,Trinidad and Tobago,NaN,NaN,NaN

In [81]:
coffee['price']=4.99

In [83]:
import numpy as np
coffee['new_price']= np.where(coffee['Coffee Type']=='Espresso', 5.99, 4.99)

In [84]:
coffee.head()

         Day Coffee Type  Units Sold  price  new_price
0     Monday    Espresso          25   4.99       5.99
1     Monday       Latte          15   4.99       4.99
2    Tuesday    Espresso          30   4.99       5.99
3    Tuesday       Latte          20   4.99       4.99
4  Wednesday    Espresso          35   4.99       5.99

In [90]:
coffee.drop(columns=['new_price'], inplace=True)

In [87]:
coffee_new = coffee.copy()

In [ ]:

print(coffee_new)

          Day Coffee Type  Units Sold  price  new_price
0      Monday    Espresso          25   4.99       5.99
1      Monday       Latte          15   4.99       4.99
2     Tuesday    Espresso          30   4.99       5.99
3     Tuesday       Latte          20   4.99       4.99
4   Wednesday    Espresso          35   4.99       5.99
5   Wednesday       Latte          25   4.99       4.99
6    Thursday    Espresso          40   4.99       5.99
7    Thursday       Latte          30   4.99       4.99
8      Friday    Espresso          45   4.99       5.99
9      Friday       Latte          35   4.99       4.99
10   Saturday    Espresso          45   4.99       5.99
11   Saturday       Latte          35   4.99       4.99
12     Sunday    Espresso          45   4.99       5.99
13     Sunday       Latte          35   4.99       4.99

In [89]:
print(coffee)

          Day Coffee Type  Units Sold  price  new_price
0      Monday    Espresso          25   4.99       5.99
1      Monday       Latte          15   4.99       4.99
2     Tuesday    Espresso          30   4.99       5.99
3     Tuesday       Latte          20   4.99       4.99
4   Wednesday    Espresso          35   4.99       5.99
5   Wednesday       Latte          25   4.99       4.99
6    Thursday    Espresso          40   4.99       5.99
7    Thursday       Latte          30   4.99       4.99
8      Friday    Espresso          45   4.99       5.99
9      Friday       Latte          35   4.99       4.99
10   Saturday    Espresso          45   4.99       5.99
11   Saturday       Latte          35   4.99       4.99
12     Sunday    Espresso          45   4.99       5.99
13     Sunday       Latte          35   4.99       4.99

In [91]:
print(coffee)

          Day Coffee Type  Units Sold  price
0      Monday    Espresso          25   4.99
1      Monday       Latte          15   4.99
2     Tuesday    Espresso          30   4.99
3     Tuesday       Latte          20   4.99
4   Wednesday    Espresso          35   4.99
5   Wednesday       Latte          25   4.99
6    Thursday    Espresso          40   4.99
7    Thursday       Latte          30   4.99
8      Friday    Espresso          45   4.99
9      Friday       Latte          35   4.99
10   Saturday    Espresso          45   4.99
11   Saturday       Latte          35   4.99
12     Sunday    Espresso          45   4.99
13     Sunday       Latte          35   4.99

In [92]:
coffee['revenue']= coffee['Units Sold'] * coffee['price']

In [93]:
print(coffee)

          Day Coffee Type  Units Sold  price  revenue
0      Monday    Espresso          25   4.99   124.75
1      Monday       Latte          15   4.99    74.85
2     Tuesday    Espresso          30   4.99   149.70
3     Tuesday       Latte          20   4.99    99.80
4   Wednesday    Espresso          35   4.99   174.65
5   Wednesday       Latte          25   4.99   124.75
6    Thursday    Espresso          40   4.99   199.60
7    Thursday       Latte          30   4.99   149.70
8      Friday    Espresso          45   4.99   224.55
9      Friday       Latte          35   4.99   174.65
10   Saturday    Espresso          45   4.99   224.55
11   Saturday       Latte          35   4.99   174.65
12     Sunday    Espresso          45   4.99   224.55
13     Sunday       Latte          35   4.99   174.65

In [94]:
coffee.to_csv('./warmup-data/coffee_with_revenue.csv', index=False)

In [95]:
coffee[coffee['Units Sold'].notna()]

          Day Coffee Type  Units Sold  price  revenue
0      Monday    Espresso          25   4.99   124.75
1      Monday       Latte          15   4.99    74.85
2     Tuesday    Espresso          30   4.99   149.70
3     Tuesday       Latte          20   4.99    99.80
4   Wednesday    Espresso          35   4.99   174.65
5   Wednesday       Latte          25   4.99   124.75
6    Thursday    Espresso          40   4.99   199.60
7    Thursday       Latte          30   4.99   149.70
8      Friday    Espresso          45   4.99   224.55
9      Friday       Latte          35   4.99   174.65
10   Saturday    Espresso          45   4.99   224.55
11   Saturday       Latte          35   4.99   174.65
12     Sunday    Espresso          45   4.99   224.55
13     Sunday       Latte          35   4.99   174.65

In [96]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [98]:
bios['born_city'].value_counts()

born_city
Budapest           1378
Moskva (Moscow)     883
Oslo                708
Stockholm           629
Praha (Prague)      600
                   ...
Bodrogkisfalud        1
Ternberg              1
Klaus                 1
Plaški                1
Dulwich Hill          1
Name: count, Length: 22368, dtype: int64

In [102]:
coffee.groupby('Coffee Type')['Units Sold'].mean()

Coffee Type
Espresso    37.857143
Latte       27.857143
Name: Units Sold, dtype: float64

In [103]:
coffee.groupby(['Coffee Type']).agg({'Units Sold':'sum', 'price':'mean'})

             Units Sold  price
Coffee Type
Espresso            265   4.99
Latte               195   4.99

In [104]:
pivot = coffee.pivot_table(index='Day', columns='Coffee Type', values='revenue', aggfunc='sum')

In [105]:
pivot = coffee.pivot(columns='Coffee Type', index='Day', values='revenue')

In [106]:
pivot

Coffee Type  Espresso   Latte
Day
Friday         224.55  174.65
Monday         124.75   74.85
Saturday       224.55  174.65
Sunday         224.55  174.65
Thursday       199.60  149.70
Tuesday        149.70   99.80
Wednesday      174.65  124.75

In [107]:
pivot.loc['Monday', 'Latte']

74.85000000000001

In [108]:
pivot.sum()

Coffee Type
Espresso    1322.35
Latte        973.05
dtype: float64

In [109]:
pivot.sum(axis=1)

Day
Friday       399.2
Monday       199.6
Saturday     399.2
Sunday       399.2
Thursday     349.3
Tuesday      249.5
Wednesday    299.4
dtype: float64